{
  "app_key": "",
  "port": 8000,
  "mysql": {
    "database": "fellowhelp",
    "username": "root",
    "password": "1234",
    "host": "127.0.0.1",
    "port": 3306
  },
  "origin_urls": {
    "cdn": "http://localhost:9000",
    "client": "http://localhost:3000"
  }
}
